/*styling.css*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    float: left;
    box-sizing: content-box;
    background-image:linear-gradient(rgba(77, 130, 243, 0.6),rgba(77, 130, 243, 0.6)), url(images/doctor.jpg);
    background-blend-mode: lighten;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}
#container {
    margin: 0 auto;
    margin-left: 150px;
    margin-right: 150px;
}

#header{
    height: auto;
    padding: 0px 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#head{
   width: 100%;
}

h1 a{
    font-size: 50px; 
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
    font-family:'Girassol', cursive;
}

.clear{
    clear: both;   
}

#menu{
    height: auto;
    color: #e7c818;
    background: #008dc9;
    padding: 8px 0px 8px 45px;
    border-radius: 5px;
    font-family: cursive;
    display: grid ;
    grid-template-columns:0.6fr 1.2fr 1fr 1.36fr 1fr ;
}
 
#menu a{
    padding: 0 30px;
    height: 30px;
    flex-wrap: inherit;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 1000;
}

#menu a:last-child{
    border-right: none;   
}

#menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: whitesmoke;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu a:hover, #menu a.active{
    font-size: 22px;
    font-weight: bold;
    color: rgb(253, 21, 21);
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
    background-color: rgb(108, 255, 71);
}
#menu a.active{
    text-align: right;
    background-color: #008dc9;;
}
.uli {
    text-align: center;
    display: flex;
    align-self: flex-start;
    height: auto;
    line-height: 1px;;
}

.uli  img{
  height: inherit;
  transform: skewX(-20deg);
}
@media screen and (max-width: 885px){
    #menu{
        padding: 5px 0px 5px 45px;
        grid-template-columns:0.5fr 1fr 1fr 1.2fr 1fr ;
    }

    #menu a{
        font-size: 10px;
    }
    
    #menu a:hover, #menu a.active{
        font-size: 15px;
    }

    body{
        padding: 0px 10px;
    }
    .vide iframe{
        margin: 20px 20px;
        width: 50%;
        align-items: center;
    }
}

@media screen and (max-width: 1110px){

    #container {
        margin-left: 50px;
        margin-right: 50px;
    }
    #menu{
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
    }
}

#introduction{
    background: linear-gradient(rgba(228, 160, 51,0.75), rgba(183, 233, 82, 0.75),rgba(228, 160, 51,0.75)); 
    background: -webkit-linear-gradient(rgba(228, 160, 51,0.75), rgba(183, 233, 82, 0.75),rgba(228, 160, 51,0.75)); 
    background: -o-linear-gradient(rgba(228, 160, 51,0.75), rgba(183, 233, 82, 0.75),rgba(228, 160, 51,0.75)); 
    background: -moz-linear-gradient(rgba(228, 160, 51,0.75), rgba(183, 233, 82, 0.75),rgba(228, 160, 51,0.75)); 
    padding: 30px;
    margin: 16px 0;
}

#introduction h3{
    font-size: 45px;
    color: #316901;
    font-weight: normal;
}

#introduction p{
    font-size: 25px; 
    font-family: 'Titillium Web', sans-serif;
    color: #628F19;
    text-align: justify;
}

#introduction ul li{
    padding: 17px 0 17px 70px;
    background: url(images/tick.png) no-repeat left center;
    font-family: Times, serif;
}

.Mythb{
    font-size:25px;
    color: rgb(44, 120, 219);
    list-style: none;
}

.leftsidebar{
    float: center;   
    display: flex;
    flex-direction: row;
}

.leftsidebar ul li{
    padding: 4px 0 4px 8px;
    list-style-image: url(images/arrow.png);
}

.sidebar{
    height: auto;
    width: auto;
    border: 1px solid rgb(41, 6, 194);
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Concert one';
    flex: 1;
    min-width: 400px;
}

.sidebar h3{
    color: rgb(238, 28, 185);
    font-size: 45px;
    font-family: 'Girassol', cursive;
    margin: 10px 0px;
}

.sidebar ul{
    padding-top: 8px;   
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #0c8612;
    -webkit-transition: font-size 0.1s ease;
    -moz-transition: font-size 0.1s ease;
    -o-transition: font-size 0.1s ease;
    -ms-transition: font-size 0.1s ease;
    transition: font-size 0.1s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: #B314DB;
    font-size: 23px;
    font-weight: bold;
}

.vide{
   /* background-color: teal;*/
    flex:1;
    position: relative;
    margin-top: 8%;
}

.vide iframe{
    margin: 20px 20px;
    width: 110%;
    align-items: center;
}

@media screen and (max-width: 1220px){
    .leftsidebar{
        flex-direction: column;
    }
    .vide{
        margin-top: auto;
        margin-bottom: 10px;
    }
    .vide iframe{
        width: 100%;
        }
}
.test{
    display: flex;
    flex-direction: row;
    margin: 0px;
    border: 2px solid blue;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.form{
    flex:3;
    padding: 40px 20px 40px 20px;
    border: 1px solid rgb(25, 175, 25);
    margin: 30px 10px 30px 10px;
    border-radius: 20px;
    width: 100%;
}

.visuals{
    flex:2;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.animation{
    width: 100%;
    background-color: #c6faf1;
    display: flex;
    height: 60%;
    border: 2px dashed black;
    border-radius: 2%;
    margin: 5px;
}

input{
    margin: 12px 8px;
}

.footer{
    background: linear-gradient(rgb(199, 243, 127), #D5D533);
    background: -webkit-linear-gradient(rgb(199, 243, 127), #D5D533);
    background: -o-linear-gradient(rgb(199, 243, 127), #D5D533);
    background: -moz-linear-gradient(rgb(199, 243, 127), #D5D533);
    padding: 8px 30px 8px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 10px;
}
iframe{
    border: 0;
}
.message{
    display: flex;
    flex:20%;
    width:auto;
    justify-content: space-evenly;
    background-image: url(images/messback.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#dialouge p{
    width: 200px;
    height: auto;
    max-height: 150px;
    justify-self: center;
    font-size: 20px;
    margin-top: 30px;
    font-family:'Titillium Web', sans-serif;
}
#dialouge a{
    color: rgb(15, 148, 55);
    text-decoration: none;
    text-transform: uppercase;
}

#dialouge{
    flex-direction: row;
    align-self: center;
}

#pg{
    zoom: 1.3;
    padding: 0px 0px;
}

button{
    position: relative;
    left: 40%;
    height:30px;
    width: 80px;
    border-radius: 7px;
}

.form h3{
    font-size: 30px;
    font-family: 'Girassol', cursive;
    color: red;
    align-self: center;
}

label{
    background-color: rgba(238, 82, 225,0.7);
    color: cyan;
    font-size: 15px;
    border-radius: 7px;
    padding: 5px 5px;
    width: 40%;
}

@media screen and (max-width: 830px){
    .test{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    #pg{
        zoom:1.1;
        transform: scale(1);
        min-height: 200px;
        width: 100%;
    }
    .visuals{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    #dialouge p{
        width: 200px;
        max-width: 150px;
        height: auto;
        justify-self: center;
        margin-top: 30px;
        margin-left: 20%;
        font-size: 15px;
    }
    .message{
        display: flex;
        flex:20%;
        width:100%;
        justify-content: space-evenly;
        background-image: url(images/messback.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .animation{
        width:50%;
    }
    #dialouge{
        flex-direction: row;
        align-self: center;
        min-width: 30px;
}
#introduction ul li{
    padding: 15px 20px 15px 45px;
    background: url(images/tick.png) no-repeat left center;
    font-family: Times, serif;
    font-size: 18px;
}
}

#haha{
    display: flex;
    align-items: center;
    justify-content: center;
}

#haha h2{
    justify-self: center;
    color: rgb(86, 9, 175);
    font-size: 40px;
}

@media screen and (max-width: 600px){
    #dialouge p{
        width: 200px;
        height: auto;
        max-width: 75px;
        justify-self: center;
        margin-top: 30px;
        margin-left: 20%;
        font-size: 15px;
    }

    #introduction ul{
        padding-inline-start: 0px;
    }

    #introduction ul li{
        padding: 15px 20px 15px 45px;
        background: url(images/tick.png) no-repeat left center;
        font-family: Times, serif;
        font-size: 10px;
    }
}

@media screen and (max-width: 659px){
    #introduction ul li{
        padding: 15px 20px 15px 45px;
        background: url(images/tick.png) no-repeat left center;
        font-family: Times, serif;
        font-size: 12px;
    }

    #introduction h3 {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    h1 a{
        font-size: 30px;
    }
}